<div ng-controller="AdController" ng-init="getAds()">
    <script>
            $(function(){
			 $('.datepicker').datepicker();
			});
		</script>
    <h1>ads</h1>

    <table class="table">

        <thead>
        <tr>
            <td>serial number</td>
            <td>ad name</td>
            <td>category name</td>
            <td>posted date</td>
            <td>expiry date</td>
            <td>author name</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ad in ads">
            <td>{{ad.id}}</td>
            <td>{{ad.adName}}</td>
            <td>{{ad.categoryName}}</td>
            <td>{{ad.postedDate}}</td>
            <td>{{ad.expiryDate}}</td>
            <td>{{ad.authorName}}</td>
            <td><a class="btn btn-info btn-xs" href="/#!/ads/view/{{ad.id}}">Details</a></td>
        </tr>
        </tbody>

    </table>

    <label>sort by:<select ng-model="sortAd">
        <option value="id">serial number</option>
        <option value="postedDate">posted date</option>
        <option value="expiryDate">expiry date</option>
        <!--<option value="author.name">author's name</option>-->
    </select>

        <select ng-model="directionAd">
            <option value="ASC">ASC</option>
            <option value="DESC">DESC</option>
        </select>

        <button ng-click="getAds()">Sort</button>

    </label>
    <br>
    <div class="well">
        filter by expiry date : <input placeholder="yyyy-mm-dd" ng-model="expiryDateFilter">
        <button ng-click="getAds()">Filter</button>
    </div>
    <div class="well">
        filter by name : <input ng-model="nameSearch">
        <button ng-click="getAds()">Filter</button>
    </div>
    <br>
    <a href="/#!/ads/addEditAd">add ad</a>
</div>